@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat:wght@400;800&family=Roboto:wght@100;300;400;500;700;900&family=Sacramento&family=Ubuntu:wght@300;400&display=swap");
/*  font-family: 'Ubuntu', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat:wght@400;800&family=Roboto:wght@100;300;400;500;700;900&family=Sacramento&family=Ubuntu:wght@300;400&family=Varela+Round&display=swap");
/*font-family: 'Varela Round', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: antiquewhite;
}

nav {
  font-family: "Ubuntu", sans-serif;
}

nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  height: 65px;
  background-color: black;
  color: white;
}

nav ul li {
  padding: 0 12px;
}

.brand {
  display: flex;
  align-items: center;
  font-weight: bolder;
  font-size: 1.3rem;
}

.brand img {
  width: 44px;
  padding: 0 8px;
}
